<?xml version="1.0"?>
<config>
    <modules>
        <Elastera_Sitemapfilename>
            <version>1.0.0</version>
        </Elastera_Sitemapfilename>
    </modules>

    <default>
        <general>
            <file>
                <sitemap_generate_valid_paths>
                    <available>
                        <any_path>/*/*sitemap*.xml</any_path>
                    </available>
                </sitemap_generate_valid_paths>
            </file>
        </general>
    </default>
</config>
